<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-12">
        <div class="row footer-section">

          <div class="col-md-3 col-5">
            <h2>Support</h2>
            <ul>
              <li>

                <a href="mailto:chesskraftacademy@gmail.com">
                  Email us
                </a>

              </li>
              <li>
                <a href="tel:+91-98701-33064"> +91-98701-33064</a>
              </li>
              <li>
                <a href="tel:+91-70214-14887">
                  +91-70214-14887
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-3">
            <h2>Explore</h2>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/register">Register Now</a>
              </li>
              <li>
                <a href="/tournament">Tournaments</a>
              </li>
            </ul>
          </div>
          <div class="col-4 col-md-6 footer-loc">
            <h2>Visit us
              <!-- <img src="images/Location.svg" alt="call"> -->
            </h2>

            <p>
              <a href="https://maps.google.com">
                ChessKraft Academy
              </a>

            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="mt-5">
      <p class="main-hero-para text-center w-100">
        &#169; 2022 ChessKraft Academy
      </p>
    </div>
  </div>
</footer>