<nav class="navbar fixed-top w-100 navbar-expand-lg ">
        <div class="container-fluid mx-lg-4">
            <a class="navbar-brand p-sm-5" to="#" href="/">
                <img src="images/logo.png" class="img-fluid  m-sm-5" alt="logo"></img>
            </a>
             <ul class=" course-details ">
                    <li class="hello">
                        <a class="nav-link nav-hover  course-link" aria-current="page" href="https://drive.google.com/file/d/1biyZBwtQTJEivj4wQaFVXiPggYf5tz-4/view?usp=sharing">
                            Course Details
                        </a>
                    </li>
                </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-hover active" aria-current="page" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-hover active" aria-current="page" href="/about">
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-hover active" aria-current="page" href="/">
                            Stars
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-hover active" aria-current="page" href="/tournament">
                            Tournaments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-hover active" aria-current="page" href="/contact">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-hover active course-link" aria-current="page" href="https://drive.google.com/file/d/1biyZBwtQTJEivj4wQaFVXiPggYf5tz-4/view?usp=sharing">
                            Course Details
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- HTML !-->



                    <li class="nav-item ms-0 ">
                        <a class="nav-link active" aria-current="page" href="register.html">


                            <button class="button-28" role="button">Register Now</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>