<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>

    <!-- Navbar -->
    {{>navbar}}




    <!-- ======================================== 
          About us Section Start  
    ========================================  -->
    <div class="container ">
        <h1 class="text-center mt-lg-5 about-us-heading text-center">About us</h1>

        <div class="row mt-lg-5 mt-2">
            <div class="common col-md-12 pt-lg-0  d-flex justify-content-center flex-column text-center">
                <h1 class="mb-4 chesskraft">CHESSKRAFT ACADEMY</h1>
                <h2>

                    Our team comprises Fide International players with more than 12 years of experience in playing
                    Chess, State Arbiter with a
                    great experience in all over India & International tournaments, great coaches with more than 5 years
                    of experience & A well build management hierarchy.

                </h2>

            </div>
            <div class="common-img col-lg-6  about-img">
                <img src="images/WhatsApp Image 2022-08-25 at 9.06.14 PM (1).jpeg" alt="Chess" />
            </div>
            <div class="common-img col-lg-6  about-img">
                <img src="images/WhatsApp Image 2022-08-25 at 9.06.14 PM (2).jpeg" alt="Chess" />
            </div>
            <div class=" row mt-lg-5">
                <div class="common-img col-lg-6 about-img">
                    <img src="images/WhatsApp Image 2022-08-25 at 9.06.37 PM.jpeg" alt="Chess" />
                </div>
                <div class="common-img col-lg-6  about-img">

                    <img src="images/WhatsApp Image 2022-08-25 at 9.06.14 PM.jpeg" alt="Chess" />
                </div>
            </div>
            <div class=" row mt-lg-5">
                <div class="common-img col-lg-6 about-img">
                    <iframe src="https://drive.google.com/file/d/1HxCEqI9smX63k6YzKWhLubbPWaD-GqwC/preview" width="550"
                        height="400" allow="autoplay"></iframe>

                </div>
                <div class="common-img col-lg-6  about-img">

                    <iframe src="https://drive.google.com/file/d/1VdtgXb78cnZYW-FvTieTuAhYATnjqQm_/preview" width="550"
                        height="400" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
        <div class="container text-center mt-5 mb-2">
            <h1 class="mb-0">Achievements</h1>
        </div>
         <div class="container achievements mt-3">
            <div class="row gx-5">
                <div class="card">

                    <ul class="custom-4">
                        <li>We are the first to organize one day FREE online rapid chess tournament where more than 500
                            participants took part.
                        </li>
                        <li>We are proud to say that we are successfully conducting tournaments both online as well as
                            offline (over the board).
                        </li>
                        <li>We are conducting online INTRA chess tournament every once a month .
                        </li>
                        <li>We have students from all over the world in coaching sector.
                        </li>
                        <li>We have updated 3rd party chess softwares and materials which helps a student to build
                            strong attacking and defending skills.
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>



    <!-- ======================================== 
          footer Section Start  
    ========================================  -->

   {{>footer}}

    <!-- ======================================== 
          Our JavaScript Section Start  
    ========================================  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>