<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>


<body>

    <!-- Navbar -->
   {{>navbar}}




    <!-- ======================================== 
          tournament Section Start  
    ========================================  -->
    <div class="container section-margin tournament">
        <h1 class="text-center">
            Tournaments

        </h1>
        <div class="row gy-4 mt-5">
            <div class="col-md-4 col-10 ">

                <div class="tournament-card">
                    <a href="https://drive.google.com/file/d/1psuUqPoK3rFYUhWkQN56tjdUl4L9NsI-/view?usp=sharing"
                        target="_blank">
                        <div class="tournament-card-img d-flex justify-content-center pt-2">
                            <img src="images/WhatsApp Image 2022-08-26 at 1.55.12 PM.jpeg" class="card-img-top"
                                alt="..." />
                        </div>
                        <div class="tournament-card-body">


                            <h2 class="tournament-card-title font-weight-bold">
                                <b> FIRST INTERNATIONAL OPEN CHESS TOURNAMENT</b>
                            </h2>
                            <p class="tournament-card-text">
                                Organised by Kishinchand Chellaram College, Churchgate, Mumbai
                                Under the aegis of MCDCA
                                <br>
                                <b> DATE:</b>
                                11
                                TH
                                SEPTEMBER 2022
                                <br>
                                <b> VENUE:</b>
                                HSNC UNIVERSITY, MUMBAI
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>



    </div>



    <!-- ======================================== 
          footer Section Start  
    ========================================  -->

    {{>footer}}

    <!-- ======================================== 
          Our JavaScript Section Start  
    ========================================  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>